<template>
  
  <article>
    <div class="container" :class="{'sign-up-active' : signUp}">
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-left">
            <h2>Bienvenido a PyLab!</h2>
            <p></p>
            <button class="invert" id="signIn" @click="signUp = !signUp">Inicia sesion</button>
          </div>
          <div class="overlay-right">
            <h2>Bienvenido a PyLab!</h2>
            <p></p>
            <button class="invert" id="signUp" @click="signUp = !signUp">Registrate</button>
          </div>
        </div>
      </div>
      <form class="sign-up" v-on:submit.prevent="registroUsario">
        <h2>Registrate!</h2>
        <h2 v-if="registroExitoso">Registro exitoso!</h2>
        <div></div>
        <input type="text" placeholder="username" v-model="username"/>
        <input type="email" placeholder="correo" v-model="correo"/>
        <input type="password" placeholder="contraseña" v-model="contraseña"/>
        <button>Registrarse</button>
      </form>
      <form class="sign-in" v-on:submit.prevent="iniciarSesionUsuario">
        <h2>Inicia sesion</h2>
        <h2 v-if="wrongCred">Credenciales incorrectas.</h2>
        <div></div>
        <input type="text" placeholder="username" v-model="username"/>
        <input type="password" placeholder="contraseña" v-model="contraseña"/>
        <a href="#">Olvidaste la contraseña?</a>
        <button>Iniciar sesion</button>
      </form>
    </div>
  </article>
</template>

<style lang="scss">
  @import "../../statics/styles/style_login.scss";
</style>

<script>
  import loginMixin from './Login'
  export default {
    name: 'login',
    mixins: [loginMixin]
  }      

</script>
